<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!--js-->
    <script th:src="@{/js/min.js}"></script>

</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">nxb</th>
        <th scope="col">author</th>
        <th scope="col">category</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <th scope="row" th:text="${user.id}"></th>
        <td th:text="${user.name}"></td>
        <td th:text="${user.nxb}"></td>
        <td th:text="${user.author}"></td>
        <td th:text="${user.category}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>